.review {
  position: relative;
  overflow: hidden;

  &::before {
    content: '\201C';
    font-size: 20rem;
    font-family: sans-serif;
    color: var(--color-grey-light-2);
    position: absolute;
    left: -1rem;
    top: -2.75rem;
    line-height: 1;

    z-index: 90;
  }

  background-color: #fff box-shadow var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;

  &__text {
    margin-bottom: 2rem;
    position: relative;

    z-index: 100;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
  }

  &__user-box {
    margin-left: 1.5rem;
  }

  &__user-rating {
    margin-left: auto;
  }

  &__user-name {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--color-grey-dark-2);
    font-weight: 600;
    margin-bottom: 0.4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &__user-rating {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--color-primary);
  }
}
